
.hidden {
    display: none;
}

.visible {
    display: block;
}
.message{

    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem;
}
.error{
    color: red;
}
.info{
    color: blue;
}
.success{
    color: green;
}
