@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
    text-align: center;
}
.hidden {
    display: none;
}

.visible {
    display: block;
}
.message{

    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem;
}
.error{
    color: red;
}
.info{
    color: blue;
}
.success{
    color: green;
}
.container{
    text-align: start;
    border:1px solid black;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.input{
    margin-top:10px;
}
.textarea{
    margin-top:10px;
    width: 90%;

}
.select{
    margin-top:10px
}
.btn-submit{
    margin-top:10px;
    width: 90%;
}
